<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <%= appName %> - Verify Your Email
  </title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #f3f6fb;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      font-family: Manrope, "Segoe UI", Arial, sans-serif;
    }

    table {
      border-spacing: 0;
      border-collapse: collapse;
    }

    .wrapper {
      width: 100%;
      background-color: #f3f6fb;
      padding: 24px 12px;
    }

    .card {
      width: 100%;
      max-width: 640px;
      background-color: #EFEFEF;
      overflow: hidden;
      margin: 0 auto;
    }

    .header-image {
      display: block;
      width: 100%;
      height: auto;
    }

    .content {
      padding: 36px 42px 24px;
      color: #292929;
      text-align: center;
    }

    .icon-wrap {
      padding-bottom: 31px;
    }

    .icon {
      width: 134px;
      height: 119px;
      display: inline-block;
    }

    .heading {
      margin: 0 0 18px;
      font-family: Manrope, "Segoe UI", Arial, sans-serif;
      font-size: 22px;
      line-height: 120%;
      font-weight: 800;
      letter-spacing: 0;
      color: #292929;
      text-align: center;
    }

    .body {
      margin: 0 0 16px;
      font-family: Manrope, "Segoe UI", Arial, sans-serif;
      font-size: 18px;
      line-height: 120%;
      font-weight: 500;
      letter-spacing: 0;
      color: #292929;
      text-align: left;
    }

    .body-semi {
      margin: 0 auto;
      font-family: Manrope, "Segoe UI", Arial, sans-serif;
      font-size: 18px;
      line-height: 120%;
      font-weight: 600;
      letter-spacing: 0;
      color: #292929;
      text-align: center;
      max-width: 306px;
      margin-bottom: 31px;
    }

    .otp-wrap {
      margin: 14px 0 18px;
      text-align: center;
      gap: 8px;
      display: inline-flex;
    }

    .otp-code {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 9px 15px;
      border-radius: 12px;
      background-color: #002561;
      color: #F4F4F4;
      font-family: Manrope, "Segoe UI", Arial, sans-serif;
      font-size: 18px;
      line-height: 120%;
      font-weight: 800;
      width: 41px;
      height: 40px;
    }
     .flex {
      display: flex;
      justify-content: center;
      gap: 12px;
      align-items: center;
    }

    .footer {
      padding: 0 42px 30px;
      text-align: center;
      font-family: Manrope, "Segoe UI", Arial, sans-serif;
      font-size: 14px;
      line-height: 140%;
      font-weight: 500;
      color: #6c7480;
    }

    .footer p {
      margin: 0 0 8px;
    }

    @media only screen and (max-width: 640px) {

      .content,
      .footer {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }

      .heading {
        font-size: 20px !important;
      }

      .body {
        font-size: 16px !important;
      }

      .otp-code {
        font-size: 28px !important;
        letter-spacing: 4px !important;
      }
    }
  </style>
</head>

<body>
  <table role="presentation" width="100%" class="wrapper">
    <tr>
      <td align="center">
        <table role="presentation" class="card" width="640">
          <tr>
            <td>
              <img src="https://res.cloudinary.com/dpi44zxlw/image/upload/v1772611742/header_hjx0ag.png"
                alt="<%= appName %>" class="header-image">
            </td>
          </tr>
          <tr>
            <td class="content">
              <div class="icon-wrap">
                <img src="https://res.cloudinary.com/dpi44zxlw/image/upload/v1772611978/icon_dqyqk3.png" alt="Mail icon"
                  class="icon">
              </div>
              <h1 class="heading">Verification Code</h1>
              <p class="body-semi">Please use the 6 digit code below to
                reset your password</p>
              <div class="otp-wrap">
                <span class="otp-code">
                  <%= otp.split('')[0] %>
                </span>
                <span class="otp-code">
                  <%= otp.split('')[1]  %>
                </span>
                <span class="otp-code">
                  <%= otp.split('')[2] %>
                </span>
                <span class="otp-code">
                  <%= otp.split('')[3] %>
                </span>
                <span class="otp-code">
                  <%= otp.split('')[4] %>
                </span>
                <span class="otp-code">
                  <%= otp.split('')[5] %>
                </span>
              </div>
              <hr />
              <p class="body" style="text-align: center;font-size: 14px;">If you didn't request this code, simply ignore this message.</p>
            </td>
          </tr>
         <tr>
            <td class="">
              <p class="heading" style="color: #001d4c;">© PAYMYFEES.CO <%= new Date().getFullYear() %>.</p>
              <p class="flex">
                <img src="https://res.cloudinary.com/dpi44zxlw/image/upload/v1772623805/Frame_1618869201_no2yks.png" alt="facebook" />
                <img src="https://res.cloudinary.com/dpi44zxlw/image/upload/v1772623805/Frame_1618869202_yi6oh9.png" alt="instagram" />
                <img src="https://res.cloudinary.com/dpi44zxlw/image/upload/v1772623805/Frame_1618869203_kbutsh.png" alt="linkedIn" />
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>